<!DOCTYPE html>
<html lang="en">

<footer class="site-footer pad-top-2-med">
	<div class="bottom-bar flex pmenu wrapper text-align-center">
		<a class="logo" href="/<%= location ? location.toLowerCase() : '' %>/home"><img src="/img/Altea_LT_White.png" alt="Altea LT White"></a>
		<nav class="menu-gradient-push pheader">
			<div>
				<a href="https://alteaactive.com/ottawa/">Ottawa</a>
				<a href="https://alteaactive.com/toronto/">Toronto</a>
				<a href="https://alteaactive.com/montreal/">Montreal</a>
				<a href="https://alteaactive.com/vancouver/">Vancouver</a>
			</div>
			<div class="p5">
				<li><a href="/<%= location ? location.toLowerCase() : '' %>/philosophy">Our Philosophy</a></li>
				<li><a href="/<%= location ? location.toLowerCase() : '' %>/fitness">Fitness</a></li>
				<li><a href="/<%= location ? location.toLowerCase() : '' %>/wellness">Wellness</a></li>
				<li><a href="/<%= location ? location.toLowerCase() : '' %>/memberships">Memberships</a></li>
				<li><a href="/<%= location ? location.toLowerCase() : '' %>/club-tour">Club Tour</a></li>
			</div>
		</nav>
	</div>
</footer>
